html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
.body {
  font-family: "Noto Sans", sans-serif;
  background-color: #eee;
  max-width: 900px;
  margin: 0 auto;
}

.header {
  margin-top: 40px;
}
